body {
    background-color: #008;
}
#game {
display: flex;
width: 900px;
height: 180px;
justify-content: center;
margin: auto;
margin-top: 2%;
}

#pedra {
    background-image: url("pedra.jpeg");
}
#papel {
    background-image: url("papel.jpeg");
}
#tesoura {
    background-image: url("tesoura.jpeg");
}
#lagarto {
    background-image: url("lagarto.jpeg");
}
#spock {
    background-image: url("spock.jpeg");
}

.botao {
    width: 250px;
    height: 180px;

}

#extra {
   display: flex;
    width: 600px;
    height: 200px;
    justify-content: center;
    margin: auto;

}

body header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
